# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Build output
*_Data/
*.exe

# Visual Studio
.vscode/
*.csproj
*.sln
*.user
# Unity build output
*_Data/
*_BurstDebugInformation_DoNotShip/
MonoBleedingEdge/
D3D12/
*.exe